{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Proyectos | Eliminar proyecto
{% endblock title %}

{% block body %}
    <h1>Control PYME - Proyectos | Eliminar proyecto</h1>
    {% if proyecto.pais %}
        <p class="fs-5 fst-italic" style="color: red;">Eliminar "{{ proyecto.nombre }} - {{proyecto.pais}}"?</p>
    {% else %}
        <p class="fs-5 fst-italic" style="color: red;">Eliminar "{{ proyecto.nombre }}"?</p>
    {% endif %}
    <form class="m-1" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Confirmar</button>
    </form>
    <a class="btn btn-dark m-1" href="{% url 'proyectos:proyecto_list' %}">Cancelar y volver a proyectos</a>
{% endblock body %}