{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Proyectos | Listado de Proyectos
{% endblock title %}

{% block bodyTitle %}
    Control PYME - Proyectos | Listado de Proyectos
{% endblock bodyTitle %}

{% block body %}
    <div class="m-3">
        <a class="btn btn-dark" href="{% url 'proyectos:index' %}">Volver</a>
        <a class="btn btn-primary" href="{% url 'proyectos:proyecto_create' %}">Agregar</a>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <form
                    action="{% url 'proyectos:proyecto_list' %}"
                    method="get"
                    class="input-group"
                >
                    <input
                    type="text"
                    name="busqueda"
                    class="form-control"
                    placeholder="Buscar..."
                    />
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul>
        {% for proyecto in object_list %}
            <li><h3>Nombre: {{ proyecto.nombre }}</h3></li>
            {% if proyecto.estado %}
                <p>Estado: {{ proyecto.estado }}</p>
            {% else %}
                <p>Estado: "No informado"</p>
            {% endif %}
            <div class="py-3">
                <a class="btn btn-dark" href="{% url 'proyectos:proyecto_detail' proyecto.id %}">Detalle</a>
                <a class="btn btn-primary" href="{% url 'proyectos:proyecto_update' proyecto.id %}">Modificar</a>
                <a class="btn btn-secondary" href="{% url 'proyectos:proyecto_delete' proyecto.id %}">Eliminar</a>
            </div>
        {% endfor %}
    </ul>
{% endblock body %}