{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Administracion | Listado de facturas
{% endblock title %}

{% block body %}
    <h1>Control PYME - Administracion | Listado de facturas</h1>
    <div class="m-3">
        <a class="btn btn-secondary" href="{% url 'administracion:index' %}">Volver</a>
        <a class="btn btn-primary" href="{% url 'administracion:factura_create' %}">Agregar</a>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <form
                    action="{% url 'administracion:factura_list' %}"
                    method="get"
                    class="input-group"
                >
                    <input
                    type="text"
                    name="busqueda"
                    class="form-control"
                    placeholder="Buscar..."
                    />
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul>
        {% for factura in object_list %}
            <li><h3>Factura: {{ factura }}</h3></li>
            <p class="p-0 m-0">Proyectos:</p>
            <ul>
                {% if factura.Proyecto.all %}
                    {% for proyecto in factura.Proyecto.all %}
                        <li>{{ proyecto }}</li>
                    {% endfor %}
                {% else %}
                    <li>"No hay registro"</li>
                {% endif %}
            </ul>
            <div class="py-3">
                <a class="btn btn-primary" href="{% url 'administracion:factura_update' factura.id %}">Modificar</a>
                <a class="btn btn-secondary" href="{% url 'administracion:factura_delete' factura.id %}">Eliminar</a>
            </div>
        {% endfor %}
    </ul>
{% endblock body %}