{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Administracion | Eliminar gasto
{% endblock title %}

{% block bodyTitle %}
    Control PYME - Administracion | Eliminar gasto
{% endblock bodyTitle %}

{% block body %}
    <p class="fs-5 fst-italic" style="color: red;">Eliminar el gasto: "{{ gasto }}"?</p>
    <form class="m-1" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Confirmar</button>
    </form>
    <a class="btn btn-dark m-1" href="{% url 'administracion:gasto_list' %}">Cancelar y volver a gastos</a>
{% endblock body %}