{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Eliminar gasto | Detalle de gasto
{% endblock title %}

{% block bodyTitle %}
    Control PYME - Eliminar gasto | Detalle de gasto
{% endblock bodyTitle %}

{% block body %}
    <h3>{{ gasto }}</h3>
    <ul>
        {% if gasto.fechaVencimiento %}
            <li>Fecha de vencimiento: {{ gasto.fechaVencimiento }}</li>
        {% else %}
            <li>Fecha de vencimiento: "Sin especificar"</li>
        {% endif %}
        <li>Monto: {{ gasto.moneda }} {{ gasto.monto }}</li>
        {% if gasto.detalle %}
            <li>Detalle: {{ gasto.detalle }}</li>
        {% else %}
            <li>Detalle: "Sin especificar"</li>
        {% endif %}
        <div class="py-3">
            <a class="btn btn-dark" href="{% url 'administracion:gasto_list' %}">Ir a gastos</a>
            <a class="btn btn-primary" href="{% url 'administracion:gasto_update' gasto.id %}">Modificar</a>
            <a class="btn btn-secondary" href="{% url 'administracion:gasto_delete' gasto.id %}">Eliminar</a>
        </div>
    </ul>
{% endblock body %}