{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Administracion | Crear o modificar gasto
{% endblock title %}

{% block bodyTitle %}
    {% if form.instance.pk %}
        Control PYME - Administracion | Modificar gasto
    {% else %}
        Control PYME - Administracion | Crear gasto
    {% endif %}
{% endblock bodyTitle %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="m-3">
            <button class="btn btn-primary type="submit">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'administracion:gasto_list' %}">Cancelar</a>
        </div>
    </form>
{% endblock body %}