{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Administracion
{% endblock title %}

{% block body %}
    <h1>Control PYME - Administracion</h1>
    <div class="m-3">
        <p class="m-1">Facturas</p>
        <a class="btn btn-dark" href="{% url 'administracion:facturas_list' %}">Ir a lista</a>
    </div>
    <div class="m-3">
        <p class="m-1">Gastos</p>
        <a class="btn btn-dark" href="{% url 'administracion:gastos_list' %}">Ir a lista</a>
    </div>

{% endblock body %}