{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Clientes | Eliminar cliente
{% endblock title %}

{% block body %}
    <h1>Control PYME - Clientes | Eliminar cliente</h1>
    <p class="fs-5 fst-italic" style="color: red;">Eliminar el cliente: "{{ cliente }}"?</p>
    <form class="m-1" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Confirmar</button>
    </form>
    <a class="btn btn-dark m-1" href="{% url 'clientes:cliente_list' %}">Cancelar y volver a clientes</a>
{% endblock body %}