{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Clientes | Crear o modificar clientes
{% endblock title %}

{% block bodyTitle %}
    {% if form.instance.pk %}
        Control PYME - Clientes | Modificar clientes
    {% else %}
        Control PYME - Clientes | Crear clientes
    {% endif %}
{% endblock bodyTitle %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="m-3">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'clientes:cliente_list' %}">Cancelar</a>
        </div>
    </form>
{% endblock body %}