{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Clientes | Listado de clientes
{% endblock title %}

{% block bodyTitle %}
    Control PYME - Clientes | Listado de clientes
{% endblock bodyTitle %}

{% block body %}
    <div class="m-3">
        <a class="btn btn-dark" href="{% url 'clientes:index' %}">Volver</a>
        <a class="btn btn-primary" href="{% url 'clientes:cliente_create' %}">Agregar</a>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <form
                    action="{% url 'clientes:cliente_list' %}"
                    method="get"
                    class="input-group"
                >
                    <input
                    type="text"
                    name="busqueda"
                    class="form-control"
                    placeholder="Buscar..."
                    />
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul>
        {% for cliente in object_list %}
            <li><h3>{{ cliente }}</h3></li>
            <div class="py-3">
                <a class="btn btn-dark" href="{% url 'clientes:cliente_detail' cliente.id %}">Detalle</a>
                <a class="btn btn-primary" href="{% url 'clientes:cliente_update' cliente.id %}">Modificar</a>
                <a class="btn btn-secondary" href="{% url 'clientes:cliente_delete' cliente.id %}">Eliminar</a>
            </div>
        {% endfor %}
    </ul>
{% endblock body %}
