{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Clientes | Eliminar ubicacion
{% endblock title %}

{% block body %}
    {% if ubicacion.provincia %}
    <p class="fs-5  fst-italic ">Eliminar "{{ ubicacion.pais }} - {{ubicacion.provincia}}"?</p>
    {% else %}
    <p class="fs-5  fst-italic ">Eliminar "{{ ubicacion }}"?</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
    </form>
    <a href="{% url 'clientes:index' %}">Volver al inicio de Clientes</a>
{% endblock body %}