{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Clientes | Eliminar ubicacion
{% endblock title %}

{% block bodyTitle %}
    Control PYME - Clientes | Eliminar ubicacion
{% endblock bodyTitle %}

{% block body %}
    {% if ubicacion.provincia %}
        <p class="fs-5 fst-italic" style="color: red;">Eliminar "{{ ubicacion.pais }} - {{ubicacion.provincia}}"?</p>
    {% else %}
        <p class="fs-5 fst-italic" style="color: red;">Eliminar "{{ ubicacion.pais }}"?</p>
    {% endif %}
    <form class="m-1" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Confirmar</button>
    </form>
    <a class="btn btn-dark m-1" href="{% url 'clientes:ubicacion_list' %}">Cancelar y volver a ubicaciones</a>
{% endblock body %}