{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Clientes | Eliminar ubicacion
{% endblock title %}

{% block body %}
    <h1>Control PYME - Clientes | Eliminar ubicacion</h1>
    {% if ubicacion.provincia %}
        <p class="fs-5 fst-italic" style="color: red;">Eliminar "{{ ubicacion.pais }} - {{ubicacion.provincia}}"?</p>
    {% else %}
        <p class="fs-5 fst-italic" style="color: red;">Eliminar "{{ ubicacion }}"?</p>
    {% endif %}
    <form class="m-1" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Confirmar</button>
    </form>
    <a class="btn btn-dark m-1" href="{% url 'clientes:index' %}">Volver al inicio de Clientes</a>
{% endblock body %}