{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Clientes | Listado de ubicaciones
{% endblock title %}

{% block bodyTitle %}
    Control PYME - Clientes | Listado de ubicaciones
{% endblock bodyTitle %}

{% block body %}
    <div class="m-3">
        <a class="btn btn-dark" href="{% url 'clientes:index' %}">Volver</a>
        <a class="btn btn-primary" href="{% url 'clientes:ubicacion_create' %}">Agregar</a>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <form
                    action="{% url 'clientes:ubicacion_list' %}"
                    method="get"
                    class="input-group"
                >
                    <input
                    type="text"
                    name="busqueda"
                    class="form-control"
                    placeholder="Buscar..."
                    />
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul>
        {% for ubicacion in object_list %}
            <li><h3>Pais: {{ ubicacion.pais }}</h3></li>
            {% if ubicacion.provincia %}
                <p>Provincia: {{ ubicacion.provincia }}</p>
            {% else %}
                <p>Provincia: "Sin especificar"</p>
            {% endif %}
            <div class="pb-3">
                <a class="btn btn-primary" href="{% url 'clientes:ubicacion_update' ubicacion.id %}">Modificar</a>
                <a class="btn btn-secondary" href="{% url 'clientes:ubicacion_delete' ubicacion.id %}">Eliminar</a>
            </div>
        {% endfor %}
    </ul>
{% endblock body %}