{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Clientes | Crear o modificar ubicaciones
{% endblock title %}

{% block body %}
    <h1>Control PYME - Clientes | Crear o modificar ubicaciones</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="m-3">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'clientes:ubicacion_list' %}">Cancelar</a>
        </div>
    </form>
{% endblock body %}