{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Clientes | Eliminar area
{% endblock title %}

{% block body %}
    <h1>Control PYME - Clientes | Eliminar area</h1>
    {% if area.sede %}
        <p class="fs-5 fst-italic" style="color: red;">Eliminar "{{ area }} - {{area.sede}}"?</p>
    {% else %}
        <p class="fs-5 fst-italic" style="color: red;">Eliminar "{{ area }}"?</p>
    {% endif %}
    <form class="m-1" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Confirmar</button>
    </form>
    <a class="btn btn-dark m-1" href="{% url 'personal:area_list' %}">Cancelar y volver a areas</a>
{% endblock body %}