{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Personal | Listado de areas
{% endblock title %}

{% block bodyTitle %}
    Control PYME - Personal | Listado de areas
{% endblock bodyTitle %}

{% block body %}
    <div class="m-3">
        <a class="btn btn-dark" href="{% url 'personal:index' %}">Volver</a>
        <a class="btn btn-primary" href="{% url 'personal:area_create' %}">Agregar</a>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <form
                    action="{% url 'personal:area_list' %}"
                    method="get"
                    class="input-group"
                >
                    <input
                    type="text"
                    name="busqueda"
                    class="form-control"
                    placeholder="Buscar..."
                    />
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul>
        {% for area in object_list %}
            <li><h3>Area: {{ area }}</h3></li>
            {% if area.sede %}
                <p>Sede: {{ area.sede }}</p>
            {% else %}
                <p>Sede: "No hay registro"</p>
            {% endif %}
            <div class="pb-3">
                <a class="btn btn-primary" href="{% url 'personal:area_update' area.id %}">Modificar</a>
                <a class="btn btn-secondary" href="{% url 'personal:area_delete' area.id %}">Eliminar</a>
            </div>
        {% endfor %}
    </ul>
{% endblock body %}