{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Personal
{% endblock title %}

{% block bodyTitle %}
    Control PYME - Personal
{% endblock bodyTitle %}

{% block body %}
    <table>
        <tr>
            <th class="text-center" style="padding-inline: 40px;">Seccion</th>
            <th class="text-center" style="padding-inline: 40px;">Accion</th>
        </tr>
        <tr>
            <td class="text-center">Areas</td>
            <td class="text-center"><a class="btn btn-dark" href="{% url 'personal:area_list' %}">Ir a lista</a></td>
        </tr>
        <tr>
            <td class="text-center">Personal</td>
            <td class="text-center"><a class="btn btn-dark" href="{% url 'personal:personal_list' %}">Ir a lista</a></td>
        </tr>
    </table>
{% endblock body %}