{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Personal | Crear o modificar personal
{% endblock title %}

{% block body %}
    <h1>Control PYME - Personal | Crear o modificar personal</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Guardar</button>
        <button type="reset"><a href="{% url 'personal:personal_list' %}">Cancelar</a></button>
    </form>
{% endblock body %}