{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Personal | Crear o modificar personal
{% endblock title %}

{% block bodyTitle %}
    {% if form.instance.pk %}
        Control PYME - Personal | Modificar personal
    {% else %} 
        Control PYME - Personal | Crear personal
    {% endif %}
{% endblock bodyTitle %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="m-3">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'personal:personal_list' %}">Cancelar</a>
        </div>
    </form>
{% endblock body %}