{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Control PYME - Personal | Listado del personal
{% endblock title %}

{% block bodyTitle %}
    Control PYME - Personal | Listado del personal
{% endblock bodyTitle %}

{% block body %}
    <div class="m-3">
        <a class="btn btn-dark" href="{% url 'personal:index' %}">Volver</a>
        <a class="btn btn-primary" href="{% url 'personal:personal_create' %}">Agregar</a>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <form
                    action="{% url 'personal:personal_list' %}"
                    method="get"
                    class="input-group"
                >
                    <input
                    type="text"
                    name="busqueda"
                    class="form-control"
                    placeholder="Buscar..."
                    />
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul>
        {% for personal in object_list %}
            {% if personal.usuario %}
                <li><h3 style="color: blue;">{{ personal }}</h3></li>
            {% else %}
                <li><h3>{{ personal }}</h3></li>
            {% endif %}
            <p>DNI: {{ personal.dni }}</p>
            <div class="pb-3">
                <a class="btn btn-dark" href="{% url 'personal:personal_detail' personal.id %}">Detalle</a>
                <a class="btn btn-primary" href="{% url 'personal:personal_update' personal.id %}">Modificar</a>
                <a class="btn btn-secondary" href="{% url 'personal:personal_delete' personal.id %}">Eliminar</a>
            </div>
        {% endfor %}
    </ul>
{% endblock body %}