{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Control PYME - Nosotros
{% endblock title %}

{% block body %}
    <h1>Control PYME - Nosotros</h1>
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/home.webp' %}" alt="Home" />
    </div>
    <p>El objetivo de esta aplicacion es facilitar la gestion dentro de una PYME o para un Freelance, pudiendo llevar un control del personal que se utiliza, los clientes que se atienden, los proyectos, la facturacion y los gastos.</p>
{% endblock body %}