{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Control PYME - Nosotros
{% endblock title %}

{% block body %}
    <h1>Control PYME - Nosotros</h1>
    <div class="m-3">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/home.webp' %}" alt="Home" />
    </div>
    <p>El objetivo de esta aplicacion es facilitar la gestion dentro de una PYME o para un Freelance, pudiendo llevar un control del personal que se utiliza, los clientes que se atienden, los proyectos, la facturacion y los gastos.</p>
    <p style="display: inline; font-weight: 700;">Aplicacion creada por la empresa "</p>
    <p style="display: inline-block; font-weight: 700; text-decoration: underline;">EXPERTO INGENIERIA</p>
    <p style="display: inline-block; font-weight: 700;">"</p>
    <p>Nos dedicamos al diseño y ejecucion de aplicaciones web y mobiles, ademas de tener el area industrial en la cual generamos automatizmos</p>
    <p>Cede principal: Cordoba capital - Argentina</p>
    <p style="font-weight: 700; display: inline;">Fundador:</p>
    <p style="display: inline-block; font-weight: 700; text-decoration: underline;"> Paolantonio Diego Gabriel</p>
    <p>Soy ingeniero electronico, inicialmente me dedique a la automatizacion industrial atendiendo la industria a lo largo del pais, y con la llegada de la industria 4.0 empece a capacitarme en todo lo que corresponde a la programacion web y desarrollo de aplicaciones mobiles, para poder ofrecer un servicio mas amplio a mis clientes.</p>
    {% endblock body %}