{% extends 'core/base.html' %}

{% block title %}
    Control PYME - Registro de nuevo usuario
{% endblock title %}

{% block body %}
    <h1>Control PYME - Registro de nuevo usuario</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="m-3">
            <button type="submit" class="btn btn-primary ">Crear usuario</button>
            <a class="btn btn-secondary" href="{% url 'core:index' %}">Cancelar</a>
        </div>
    </form>
{% endblock body %}